@using CleanBlog.Core.Helpers
@inherits UmbracoViewPage


@{
    var articleList = Model.Root().Descendants<ArticleList>().FirstOrDefault();
    var articles = articleList.Root().Descendants<Article>().Where(x => x.IsVisible()).OrderByDescending(y => y.ArticleDate);

    var isArticleListPage = articleList.Id == Model.Id;
    var fallbackPageSize = isArticleListPage ? 10 : 3;

    var pageNumber = QueryStringHelper.GetIntFromQueryString(Request, "page", 1);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", fallbackPageSize);

    var pageOfArticles = articles.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = articles.Count();
    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;
}

@if (articles != null && articles.Any())
{
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                @foreach (var article in pageOfArticles)
                {
                    <div class="post-preview">
                        <a href="@article.Url">
                            <h2 class="post-title">
                                @(article.HasValue("title") ? article.Value("title") : article.Name)
                            </h2>
                            @if (!string.IsNullOrWhiteSpace(article.Subtitle))
                            {
                                <h3 class="post-subtitle">
                                    @article.Subtitle
                                </h3>
                            }
                        </a>
                        <p class="post-meta">
                            Posted
                            @if (!string.IsNullOrWhiteSpace(article.AuthorName))
                            {
                                @Html.Raw("by ") @article.AuthorName
                            }
                            on @article.ArticleDate.ToString("dd-MM-yyyy")
                        </p>
                    </div>
                    <hr>
                }

                <div id="paging" class="clearfix">
                    @if (isArticleListPage)
                    {
                        if (pageCount > 1)
                        {
                            <div class="paging-block">
                                @if (pageNumber > 1)
                                {
                                    <a class="btn btn-primary float-left" href="@($"{articleList.Url}?page={pageNumber - 1}&size={pageSize}")">Prev</a>
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;")
                                }
                            </div>
                            <div class="paging-block text-center">
                                <span>Page @pageNumber of @pageCount</span>
                            </div>
                            <div class="paging-block">
                                @if (pageNumber < pageCount)
                                {
                                    <a class="btn btn-primary float-right" href="@($"{articleList.Url}?page={pageNumber + 1}&size={pageSize}")">Next</a>
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;")
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <a class="btn btn-primary float-right" href="@(articleList.Url)">View All</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
