@inherits UmbracoViewPage

@{
    var title = Model.HasValue("title") ? Model.Value("title") : Model.Name;
    var subtitle = Model.HasValue("subtitle") ? Model.Value<string>("subtitle") : "";
    var image = Model.Value<IPublishedContent>("mainImage", fallback: Fallback.ToAncestors);
    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(1900, 700);
    }
    var authorName = Model.HasProperty("authorName") && Model.HasValue("authorName") ? Model.Value<string>("authorName") : "";
    DateTime articleDate = Model.HasProperty("articleDate") && Model.HasValue("articleDate") ? Model.Value<DateTime>("articleDate") : DateTime.MinValue;
    bool hasAuthorDetails = !string.IsNullOrWhiteSpace(authorName) || articleDate != DateTime.MinValue;

}

<!-- Page Header-->
<header class="masthead" style="@(!string.IsNullOrWhiteSpace(imageUrl) ? "background-image: url('" + imageUrl + "')" : null)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@title</h1>
                    @if (!string.IsNullOrWhiteSpace(subtitle))
                    {
                        if (hasAuthorDetails)
                        {
                            <h2 class="subheading">@subtitle</h2>
                        }
                        else
                        {
                            <span class="subheading">@subtitle</span>
                        }
                    }

                    @if (hasAuthorDetails)
                    {
                        <span class="meta">Posted 
                            @if (!string.IsNullOrWhiteSpace(authorName))
                            {
                                @Html.Raw("by ") @authorName
                            }
                            on @articleDate.ToString("dd-MM-yyyy")
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
</header>